body {
    background-color: rgb(57, 35, 89);

}

.home {
    display: block;    
}

.white {
    color: rgb(255, 255, 255);
}

.right {
    float: right;
}

.container {
    background-color: darkorchid;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.content {
    
    opacity: initial;
    padding-left: 1%;
    height: 100%;
    width: 65%;
    display: flex;
    flex-direction: column;
}

.room {
    height: 100%;
    width: 100%;
    height: 60%;
}

.bottom {
    border: 2px solid black;
    background-color: rgb(120, 119, 119);
    height: 800px;
    width: 600;
    display: flex;
    flex-direction: row;
}

.message-item {
    font-size: 130%;
    color: rgb(0, 0, 0);
}

.messages-input #send {
    height: 100%;
    width: 20%;
}

.meesages-list {
    width: auto;
    overflow-y:auto;
    height: 100%;
}

.messages-input {
    display: flex;
    flex-direction: row;
    height: 10%;
    width: auto;
    border: 2px solid black;
}

.channel-item :hover{
    background-color: darkorchid;
}

.channel-item {
    font-size: 150%;
}

.roomlist {
    margin-left: 0.5%;
    background-color: rgb(79, 79, 79);
    opacity: initial;
    border: 2px solid black;
    width: 20%;
    max-height: fit-content;
    display: flex;
    flex-direction: column;
    color: rgb(255, 255, 255);
}
.feed {
    display: block;
    padding-left: 15%;
    width: 100%;
    height: 100%;
    border: 1px solid black;
    color: rgb(255, 255, 255);

}

#welcome {
    padding-left: 2.5%;
    color: white;
}

#chat {
    padding-top: 0%;
    background-color: rgba(67, 66, 66, 0.5);
    width: 100%;
    color: rgb(255, 255, 255);
}

#size {
    font-size: 120%;
}