body {
    background-color: rgb(57, 35, 89);

}

.home {
    display: block;
}

.white {
    color: rgb(255, 255, 255);
}

.right {
    float: right;
}

.container {
    background-color: darkorchid;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.content {

    opacity: initial;
    padding-left: 1%;
    height: 100%;
    width: 65%;
    display: flex;
    flex-direction: column;
}

.room {
    height: 100%;
    width: 100%;
    height: 60%;
}

.roomaker {
    position: absolute;
    bottom: 0;
}

.glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

.users-panel {
    border: 2px solid black;
    background-color: rgb(120, 119, 119);
    height: 800px;
    width: 30%;

}

.bottom {
    border: 2px solid black;
    background-color: rgb(120, 119, 119);
    height: 800px;
    width: 600;
    display: flex;
    flex-direction: row;
}

.message-item {
    display: table;
    font-size: 130%;
    color: rgb(0, 0, 0);
    border: 2px solid black;
    width: 800px;
}

.message-item.cell {
    display: table-cell;
    vertical-align: bottom;
    padding: 5px;
}

.message-item.cell span {
    display: block;
    padding: 5px;
}

.messages-input #send {
    height: 100%;
    width: 20%;
}

.meesages-list {
    width: auto;
    overflow-y: auto;
    height: 100%;
}

.messages-input {
    display: flex;
    flex-direction: row;
    height: 10%;
    width: auto;
    border: 2px solid black;
}

.channel-item :hover {
    background-color: darkorchid;
}

.channel-item {
    padding: 12px 0;
    box-sizing: border-box;
    font-size: 150%;
}


.channel-item+.channel-item {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
}


.roomlist {
    margin-left: 0.5%;
    background-color: rgb(79, 79, 79);
    opacity: initial;
    border: 2px solid black;
    width: 20%;
    max-height: fit-content;
    display: flex;
    flex-direction: column;
    color: rgb(255, 255, 255);
}

.feed {
    display: block;
    padding-left: 15%;
    width: 100%;
    height: 100%;
    border: 1px solid black;
    color: rgb(255, 255, 255);

}

#createButton {}

#welcome {
    padding-left: 2.5%;
    color: white;
}

#chat {
    padding-top: 0%;
    background-color: rgba(67, 66, 66, 0.5);
    width: 100%;
    color: rgb(255, 255, 255);
}

#size {
    font-size: 120%;
}


.welcome {
    color: #fff;
    font-size: 30px;
    letter-spacing: 14px;
}

.welcome::before,
.welcome::after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.welcome::before {
    color: #ff00c1;
    animation: glitch-effect 3s infinite;
}

.welcome::after {
    color: #3498db;
    animation: glitch-effect 2s infinite;
}

@keyframes glitch-effect {
    0% {
        left: -2px;
        top: -2px;
    }

    25% {
        left: 2px;
        top: 0px;
    }

    50% {
        left: -1px;
        top: 2px;
    }

    75% {
        left: 1px;
        top: -1px;
    }

    100% {
        left: 0px;
        top: -2px;
    }
}

.c-checkbox {
    display: none;
}

.c-checkbox:checked+.c-formContainer .c-form {
    width: 37.5em;
}

.c-checkbox:checked+.c-formContainer .c-form__toggle {
    visibility: hidden;
    opacity: 0;
    transform: scale(0.7);
}

.c-checkbox:checked+.c-formContainer .c-form__input,
.c-checkbox:checked+.c-formContainer .c-form__buttonLabel {
    transition: 0.2s 0.1s;
    visibility: visible;
    opacity: 1;
    transform: scale(1);
}

.c-checkbox:not(:checked)+.c-formContainer .c-form__input:required:valid~.c-form__toggle::before,
.c-checkbox:checked+.c-formContainer .c-form__input:required:valid~.c-form__toggle::before {
    content: "Thank You! 😊";
}

.c-checkbox:not(:checked)+.c-formContainer .c-form__input:required:valid~.c-form__toggle {
    pointer-events: none;
    cursor: default;
}

.c-formContainer,
.c-form,
.c-form__toggle {
    width: 20em;
    height: 6.25em;
}

.c-formContainer {
    position: relative;
    font-weight: 700;
}

.c-form,
.c-form__toggle {
    position: absolute;
    border-radius: 6.25em;
    background-color: #ffffff;
    transition: 0.2s;
}

.c-form {
    left: 50%;
    transform: translateX(-50%);
    padding: 0.625em;
    box-sizing: border-box;
    box-shadow: 0 0.125em 0.3125em rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
}

.c-form__toggle {
    color: #ff7b73;
    top: 0;
    cursor: pointer;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.c-form__toggle::before {
    font-size: 1.75em;
    content: attr(data-title);
}

.c-form__input,
.c-form__button {
    font: inherit;
    border: 0;
    outline: 0;
    border-radius: 5em;
    box-sizing: border-box;
}

.c-form__input,
.c-form__buttonLabel {
    font-size: 1.75em;
    opacity: 0;
    visibility: hidden;
    transform: scale(0.7);
    transition: 0s;
}

.c-form__input {
    color: #ffcccc;
    height: 100%;
    width: 100%;
    padding: 0 0.714em;
}

.c-form__input::placeholder {
    color: currentColor;
}

.c-form__input:required:valid {
    color: #ff7b73;
}

.c-form__input:required:valid+.c-form__buttonLabel {
    color: #ffffff;
}

.c-form__input:required:valid+.c-form__buttonLabel::before {
    pointer-events: initial;
}

.c-form__buttonLabel {
    color: #ffaea9;
    height: 100%;
    width: auto;
}

.c-form__buttonLabel::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
    cursor: pointer;
}

.c-form__button {
    color: inherit;
    padding: 0;
    height: 100%;
    width: 5em;
    background-color: #ff7b73;
}